@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --grid-color: rgb(220,220,220);
    --menu-spacing: 0.5rem 0;
}

html {
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

.header {
    margin: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--grid-color); */
    margin: 0 5rem;
    padding: 0;
    height: fit-content;
    width: fit-content;
    justify-self: right;
    align-items: center;
}

.color-picker {
    margin: 0 0 2.5rem;
}

input[type="color"] {
	-webkit-appearance: none;
    background-color: transparent;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 4px;
    border: 1px solid var(--grid-color);
    border-radius: 50%;
    box-shadow: 0 0 5px 2px var(--grid-color);
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;

}

.slider-output {
    font-size: 0.6rem;
    font-weight: 600;
    margin: 0;  
}

.slider {
    appearance: none;
    width: 10rem;
    height: 4px;
    margin: 0 0 2rem;  
    background: var(--grid-color);
    border-radius: 2px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    background: rgb(61, 161, 255);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    background:rgb(116, 188, 255)
}
.eraser-on {
    color: white !important;
    background-color: red;
}

.eraser-on:hover {
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.rainbow-on {
    color: white !important;
    background:
        repeating-linear-gradient(
            45deg, rgb(0, 255, 157),
            rgb(255, 145, 250) 50%,
            rgb(255, 200, 88) 100%,
            rgb(255, 0, 0));
}

.rainbow-on:hover {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
}

.box {
    background-color: white;
}

button {
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    margin: var(--menu-spacing);
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: transparent;
}

button:hover {
    color: black;
    background-color: rgb(235,235,235);
}

button:active {
    border: 2px solid white;
}

.canvas-wrapper {
    display: flex;
    width: 520px;
    height: 520px;
    justify-content: center;
}

.canvas {
    display: grid;
    width: 512px;
    height: 512px;
    background-color: var(--grid-color);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1px;
    column-gap: 1px;
    border: 1px solid var(--grid-color);
    box-shadow: 0 0 10px 1px var(--grid-color);
}

.canvas:hover {
    cursor: crosshair;
}
