:root {
    --grid-color: rgb(220,220,220);
}

html {
    font-family:Arial, Helvetica, sans-serif
}

.header {
    margin: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu {
    border: 1px solid black;
    margin: 0 1rem;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    justify-self: right;
}

.canvas-wrapper {
    display: flex;
    width: 520px;
    height: 520px;
    justify-content: center;
}

.canvas {
    display: grid;
    width: 512px;
    height: 512px;
    background-color: var(--grid-color);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1px;
    column-gap: 1px;
    border: 1px solid var(--grid-color);
}

.box {
    background-color: white;
}

.shading {
    background-color: darkblue;
}